<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Cloud3DView</title>

    <link rel="stylesheet" href="{{site.baseurl}}/css/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a class="post-link" href="{{site.baseurl}}/"> Cloud3DView </a>
        </h1>
        <p>Data Center Modeling and Management System</p>

       <!-- <p class="view"><a href="https://github.com/sunpengsdu/unicap">View the Project on GitHub <small>sunpengsdu/unicap</small></a></p>-->

        <!-- <h3>
        {% for post in site.posts %}
          {% if post.title == "Install " or post.title == "Getting Started" or post.title == "Example" or post.title == "Document" %}
            <p class="view">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </p> 
          {% endif %}
        {% endfor %}
        </h3>
        -->
        <h3>
        <p class="view">
          <a class="post-link" target="_blank" href="https://github.com/cap-ntu/Cloud3DView/wiki">Wiki</a>
        </p> 
        </h3>

        <h3>
        <p class="view">
          <a class="post-link" target="_blank" href="https://github.com/cap-ntu/Cloud3DView/issues">Issues</a>
        </p> 
        </h3>

        <ul>
          <li><a href="https://github.com/cap-ntu/Cloud3DView/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/cap-ntu/Cloud3DView/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/cap-ntu/Cloud3DView">View On <strong>GitHub</strong></a></li>
        </ul>
       
      </header>
      <section>
         
        {% for post in site.posts %}
          {% if post.title == "index" %}
            {{post.content}}
          {% endif %}
        {% endfor %}

      </section>


      <footer>
        <p>This project is maintained by <a href="https://github.com/weidaxu1988">Weida Xu</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
